.navbar-header{
    background-color: rgb(70,70,70);
    /* border: 1px solid green; */
    padding-top: 1px;
    position: relative;
}
.ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(43, 255, 0); */
}
.ul li{
    text-decoration: none;
    list-style: none;
    /* border: 1px dashed green; */
    align-items: center;
}
.ul li a{
    color: white;
    margin: 15px;
    font-size: 1.1em;
    text-decoration: none;
}
.ul li a.active {
    color: #ffc107;
}
.ul li a:hover {
    color: grey;
    /* transition: .3s ease-in-out; */
}
.menu-btn {
    background-color: transparent;
    border: 0;
    color: white;
    display: none;
}
.underline-navbar{
    box-sizing: border-box;
    content: '';
    width: 100%;
    height: 4px;
    border: 1px solid rgb(70,70,70);
    background-color: #ffc107;
  }
@media (max-width: 768px) {
    .navbar-header ul{
        justify-content: center;
        padding-left: 0;
        /* border: 1px solid rgb(43, 255, 0); */
    }
    .navbar-header ul li a{
        color: white;
        margin: 10px;
        font-size: 1em;
    }
}
@media (max-width: 481px) {
    .menu-btn {
        display: flex;
        font-size: 1.3em;
        padding: 0;
    }
    .navbar-header ul li a{
        color: white;
        margin: 10px;
        font-size: .9em;
    }
    .ul li a.active {
        color: #ffc107;
    }

}
